.chatrooms.show {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  bottom: 0;

  .btn {
    align-items: center;
    width: 30%;
    margin-bottom: 25px;
    margin-left: 35%;
    margin-top: 25px;
    border-radius: 15px;
  }

  .top {
    position: sticky;
    top: 0px;
    background: #1F242C;
    z-index: 5;
  }

  hr {
    width: 414px;
    border: 1px solid #E7D3CC;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .text-box {
    padding: 20px;
    width: 100%;
    position: sticky;
    bottom: 0px;
    z-index: 5;
    background: #1F242C;
  }

  .form-control {
    border-radius: 9px;
  }

  .container {
    padding-bottom: 40px;
    padding: 20px;
    position: relative;
    top: -30px;
  }

  #messages {
    display: flex;
    flex-flow: column;

    #user-message {
      display: flex;
      color: white;
      flex-flow: column wrap;
      align-items: flex-end;

      p {
        text-align: left;
        border-radius: 0.5em;
        background: $flock-pink;
        color: white;
        overflow-wrap: break-word;
        padding: 10px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
        max-width: 50%;
      }
    }

    #buddy-message {
      display: flex;
      color: white;
      flex-flow: column wrap;

      p {
        text-align: left;
        border-radius: 0.5em;
        background: #E7D3CC;
        color: #1F242C;
        overflow-wrap: break-word;
        padding: 10px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
        width: 50%;
      }
    }
  }
}
