.chatrooms.show {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  bottom: 0;

  .btn {
    align-content: center;
    width: 30%;
    margin-bottom: 25px;
  }

  .text-box {
    margin: 20px;
    width: 90%;
  }

  #messages {
    display: flex;
    flex-flow: column wrap;

    #user-message {
      display: flex;
      color: white;
      flex-flow: column wrap;
      align-items: flex-end;

      p {
        text-align: center;
        border-radius: 0.2em;
        background: rgba(253, 92, 101, 0.7);
        color: white;
        overflow-wrap: break-word;
        padding: 5px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
        max-width: 40%;
      }
    }

    #buddy-message {
      display: flex;
      color: white;
      flex-flow: column wrap;

      p {
        text-align: center;
        border-radius: 0.2em;
        background: rgba(253, 92, 101, 0.4);
        color: white;
        overflow-wrap: break-word;
        padding: 5px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
        width: 30%;
      }
    }
  }
}
