.chatrooms.show {

  .text-box {
    position: sticky;
    bottom: 0;
    margin: 20px;
    width: 90%;

  }

  p {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.2em;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: left;
    margin-left: 145px;
    overflow-wrap: break-word;
    color: white;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;
    color: white;
  }

  #messages {
    justify-content: center;
  }

  .btn {
    margin-left: 260px;
  }
}
