<div class="container" align="center">
  <div class="row">
    <div class="col-xs-4">
      <h1> Your favourite flockers </h1>
        <%= @favorites.each do |f| %>

        <% end %>
    </div>
  </div>
</div>
