.walks.show {
  height: 661px;
  margin-bottom: 0;
  position: relative;

  .walk-show {
    display: flex;
    justify-content: center;
  }
  // top section
  .top {
    width: 414px;
    margin-bottom: 10px;
    p {
      font-size: 20px;
      text-align: left;
      margin-left: 24px;
      color: white;
    }
  }

  .user-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  #pin {
    margin-bottom: 18px;
    font-size: 20px;
    color: white;
    margin-top: -7px;
  }

  .flock {
    margin-bottom: 22px;

    .letsflock {
      background-color: $flock-pink;
      padding: 10px 20px;
      color: white;
      width: 150px;
      border-radius: 15px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  // map
  .mapboxgl-ctrl-logo {
    display: none;
  }
  #routemap {
    width: 414px;
    height: 400px;
    position: sticky;
    top: 0px;
  }

  #instructions {
    width: 414px;
    overflow: scroll;
    background: white;
    color: black;
    margin-top: -21px;
    padding-bottom: 80px;
  }

  .duration {
      font-size: 1.8em;
      font-weight: 700;
    }


  // tabs
  .walk-tab {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: $flock-pink;
    li {
      list-style-type: none;
    }
    img {
      width: 35px;
      height: 35px;
      margin-bottom: 2px;
    }
  }
  .fade:not(.show) {
    display: none;
  }

  .far.fa-comments {
    font-size: 37px;
    margin-right: 10px;
    color: black;
  }

  .fas.fa-map-marker-alt {
    font-size: 37px;
    color: black;
  }

  .chat-link {
    background: #FD5C65;
    width: 205px;
    text-align: center;
    border-radius: 0px;
    height: 21px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 5;

    a {
      font-size: 14px;
    }
  }

  .badge {
     background: black;
     margin-right: 0;
  }

  .nav-link {
    background: #FD5C65;
    width: 207px;
    text-align: center;
    border-radius: 0px;
    padding-bottom: 1px;
    padding-top: 5px;
  }

  .nav-item {
    text-align: center;
  }

  .text-tab {
    color: white;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }

  a {
    color: white;
    font-size: 16px;
  }


}
