<div class="col-xs-12 col-sm-6">
  <h3>Your favourite flockers</h3>
    <div class="favorites">
      <% @favorite_walks.each do |walk| %>
        <%= render 'walk', walk: walk %>
      <% end %>
    </div>
</div>
