
<div class="container" style="margin-top: 10px;" align="center">
  <h3>Let's walk home...</h3>

    <div id="destinationmap"
    style="width: 380px; height: 400px;"
     data-meet-point="<%= @meet_point %>"
     data-first-end="<%= @end_first %>"
     data-second-end="<%= @end_sec %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    <div id="instructions" style="width: 380px;"></div>

  <p class="btn" align="center" style = "background: #FD5C65; color: white; padding-top: 5px; padding-bottom: 5px;margin-top:5px;font-size: 12px;">Share your location</p>
  <p class="btn" align="center" style="background: #FD5C65; color: white; padding-top: 5px; padding-bottom: 5px;margin-top:5px;font-size: 12px;">I've arrived</p>

</div>
