.ap-input, .ap-hint {
    color: black;
  }
  .ap-hint {
    color: black;
  }
  .ap-input {
    .ap-hint {
      color: black;
    }
  }
  .span.algolia-places {
    color: black;
  }
  .input {
    color: black;
  }
  .ap-dropdown-menu.ap-with-places {
    color: black;
  }
  #algolia-places-listbox-0 {
    color: black;
  }
