.navbar-lewagon {
  justify-content: space-between;
  background: #1F242C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  height: auto;
}

.dashboard-tabs .nav-pills .nav-item img {
  width: 100px;
  height: 50px;
  object-fit: contain;
 }

.dashboard-tabs .nav-pills .nav-item .active {
  background: $flock-pink;
}

.badge {
  background: grey;
  border-radius: 50%;
  color: white;
}
