<div>
  <h3>Results</h3>
  <h4><%= @destinations.count %> Flockers nearby...</h4>
</div>
<div class="container" align="center">
  <% @destinations.each do |destination| %>
    <%= cl_image_tag destination.user.photo.key, :style => "width: 210px; height: auto;" %><br>
    <%=  destination.user.name %>
    <%=  Geocoder::Calculations.distance_between([@destination.start_location.latitude, @destination.start_location.longitude], [destination.start_location.latitude, destination.start_location.longitude]) %>
  <% end %>
</div>
