<h1>Results</h1>
<h3><%= @destinations.count %> Flockers nearby...</h3>
<% @destinations.each do |destination| %>
      <%= cl_image_tag destination.user.photo.key, :style => "width: 100px; height: 100px; border-radius: 50%;" %>
      <%=  destination.user.name %>
      <%=  Geocoder::Calculations.distance_between([@destination.start_location.latitude, @destination.start_location.longitude], [destination.start_location.latitude, destination.start_location.longitude]) %>
<% end %>




