<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= @start_location_id  %>
<%= @end_location_id %>

<!--   # @markers = @destinations.each do |destination|
 @start_location_id = User.near(@current_user, 10, units: :mi).each do |user|
 puts " #{user.name} is #{user.distance} clicks to the #{user.bearing}"
 -->
